@media only screen and (min-width: 600px) {


	li, a{
        font-family: 'Sourse Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color:var(--dark-green);
        text-decoration: none;

    }
	picture:hover{
		opacity: 0.3;
	}

	.social{
		position: fixed;
		z-index: 100;
		margin-top: -40px;

	}

	.facebook{
		max-width: 3%;
		padding:5px;
		float: right;
		background: white;
		
	}

	.linkedin{
		max-width: 3.5%;
		padding:5px;
		float: right;
		background: white;
		
	}
	.mainsections{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		grid-template-rows: 300px 300px 300px 300px 300px;
    	grid-gap: 15px;
		padding:20px;
	}


    .hero-section{
		grid-column: 1/4;
    	grid-row: 1;
        border-radius: 0;
        margin:5px;
        
		
	}
    .news-section{
		grid-column: 1/4;
		grid-row:2;
        border-radius: 0;
        margin:5px;
		

	}

    .join-section{
		display:block;
		grid-column: 1/4;
		grid-row:3;
		background-color: var(--light-green);
		overflow: hidden;
		text-align: center;
		position: relative;
		border-radius: 10px;
        border-radius: 0;
        margin:5px;

	}

	.join-section img{
		width: 90px;
		margin-top: 40px;

	}

	.join-text{
		margin-top: 30px;
		font-size: 1.3rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		margin-left: 15px;
		margin-right: 15px;
	}
    .event-section{
		grid-column: 1/3;
		grid-row:5;
        border-radius: 0;
        margin:5px;
		

	}
    .weather-section{
		grid-column: 3/4;
        grid-row:5;
        border-radius: 0;
        margin:5px;
		

	}

	

	.container-spo{
        grid-column: 1/4;
		grid-row: 4;
		margin: 5px;
		background-color: var(--dark-green);
		border-radius: 0;
        
		
	}

    .spo1-section {
		grid-column: 1/3;
		grid-row:4;
        border-radius: 0;
        margin:10px;
		
	}
	

	.spo2-section{
		grid-column: 3/4;
		grid-row:4;
        border-radius: 0;
        margin:10px;
		
	}

    .address-footer {
		margin-right:5px;
		font-size: 0.9rem;
        text-align: center;
	}
    .email-phone-footer{
        margin-left:20px;
        font-size: 0.9rem;
        text-align: center;

    }

}